<div class="col bg-primary text-white p-5">
  <div class="pt-5 fs-5 text-center"><h4><i class="fa-solid fa-house"></i><a href="/" class="text-decoration-none text-white">Home</a></h4></div>
  <div class="pt-5 fs-5 text-center"><h4><i class="fa-solid fa-bars"></i><a class="text-white text-decoration-none" href="/viewappointment">View Appointments</a></h4></div>
  <div class="pt-5 fs-5 text-center"><h4><i class="fa-solid fa-bars"></i><a class="text-white text-decoration-none" href="/viewregister">View Registrations</a></h4></div>
  <div class="pt-5 fs-5 text-center"><h4><i class="fa-solid fa-bars"></i><a class="text-white text-decoration-none" href="/editregisterform">Edit Registrations</a></h4></div>
  <div class="pt-5 fs-5 text-center"><h4><i class="fa-solid fa-user"></i>Profile</h4></div>
  <div class="pt-5 fs-5 text-center"><h4><i class="fa-solid fa-right-to-bracket"></i><a href="/" class="text-decoration-none text-white">Logout</a></h4></div>
</div>