<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <%-include('./common/header.ejs')%>
  <%-include('./common/carousel.ejs')%>
  <!-- <div class="container-fluid mt-5">
    <div class="row">
      <h1 class="text-decoration-underline">Specialities</h1>
      <div class="col-md-12 col-lg-6 mt-3 ">
            <img src="./images/hush-naidoo-jade-photography-yo01Z-9HQAw-unsplash.jpg" height="auto" width="100%" >
      </div>
      <div class="col-6">
      <div class="col-lg-6 ps-5 fs-5 mt-4">
        <a href="#" class="text-decoration-none">Cancer Care/Oncology</a>
      </div>
      <div class="col-lg-6 ps-5 fs-5 mt-4">
            <a href="#" class="text-decoration-none">Cardiac Sciences</a>
      </div>
      <div class="col-lg-6 ps-5 fs-5 mt-4">
            <a href="#" class="text-decoration-none">Orthopaedics</a>
      </div>
      <div class="col-lg-6 ps-5 fs-5 mt-4">
            <a href="#" class="text-decoration-none">Robotic Surgery</a>
      </div>
      <div class="col-lg-6 ps-5 fs-5 mt-4">
            <a href="#" class="text-decoration-none">Liver Transplant</a>
      </div>
      <div class="col-lg-6 ps-5 fs-5 mt-4 ">
            <a href="#" class="text-decoration-none">Neurosciences</a>
      </div>
      </div>

    </div>
    </div> -->

    <div class="container-fluid mt-5">
      <div class="row">
            <h1 class="text-decoration-underline">Our Hospital Network </h1>
          <div class="col-md-4">
              <div class="card">
                  <img src="./images/national-cancer-institute-1c8sj2IO2I4-unsplash.jpg" class="card-img-top" alt="">
                  <div class="card-body">
                      <h3 class="card-title">Delhi</h3>
                      <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ex sit unde ratione facilis voluptatem repellendus quia voluptatum impedit repellat culpa? Labore voluptates mollitia asperiores tenetur incidunt?</p>
                      <button class="btn btn-primary">Read More</button>
                  </div>
              </div>
          </div>
          <div class="col-md-4">
            <div class="card">
                <img src="./images/national-cancer-institute-cP6Z_VKMCuo-unsplash.jpg" class="card-img-top" alt="">
                <div class="card-body">
                    <h3 class="card-title">Mumbai</h3>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ex sit unde ratione facilis voluptatem repellendus quia voluptatum impedit repellat culpa? Labore voluptates mollitia asperiores tenetur incidunt?</p>
                    <button class="btn btn-primary">Read More</button>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="./images/solen-feyissa-jGmBZypoFPc-unsplash.jpg" class="card-img-top" alt="">
                <div class="card-body">
                    <h3 class="card-title">Bangalore</h3>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ex sit unde ratione facilis voluptatem repellendus quia voluptatum impedit repellat culpa? Labore voluptates mollitia asperiores tenetur incidunt?</p>
                    <button class="btn btn-primary">Read More</button>
                </div>
            </div>
        </div>
              </div>
          </div>

          <div class="container-fluid mt-5">
            <div class="row">
                  <h1 class="text-decoration-underline">Health Blogs </h1>
                <div class="col-md-3">
                    <div class="card">
                        <img src="./images/Screenshot from 2024-06-11 16-21-02.png" class="card-img-top" alt="">
                        <div class="card-body">
                            <h3 class="card-title">Boost Your Health with High-Fibre Foods</h3>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ex sit unde ratione facilis voluptatem repellendus quia voluptatum impedit repellat culpa? Labore voluptates mollitia asperiores tenetur incidunt?</p>
                            <button class="btn btn-primary">Read More</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                  <div class="card">
                      <img src="./images/Screenshot from 2024-06-11 16-21-49.png" class="card-img-top" alt="">
                      <div class="card-body">
                          <h3 class="card-title">Understanding Heatwaves: Their Effects on the Body and Who is at Risk </h3>
                          <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ex sit unde ratione facilis voluptatem repellendus quia voluptatum impedit repellat culpa? Labore voluptates mollitia asperiores tenetur incidunt?</p>
                          <button class="btn btn-primary">Read More</button>
                      </div>
                  </div>
              </div>
              <div class="col-md-3">
                  <div class="card">
                      <img src="./images/Screenshot from 2024-06-11 16-22-10.png" class="card-img-top" alt="">
                      <div class="card-body">
                          <h3 class="card-title">Heart Attack in Women: 5 Warning Signs You Can’t Afford to Ignore</h3>
                          <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ex sit unde ratione facilis voluptatem repellendus quia voluptatum impedit repellat culpa? Labore voluptates mollitia asperiores tenetur incidunt?</p>
                          <button class="btn btn-primary">Read More</button>
                      </div>
                  </div>
              </div>
              <div class="col-md-3">
                  <div class="card">
                      <img src="./images/Screenshot from 2024-06-11 16-22-31.png" class="card-img-top" alt="">
                      <div class="card-body">
                          <h3 class="card-title">Urgent Signs of Brain Hemorrhage: Essential Guide for Caregivers </h3>
                          <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ex sit unde ratione facilis voluptatem repellendus quia voluptatum impedit repellat culpa? Labore voluptates mollitia asperiores tenetur incidunt?</p>
                          <button class="btn btn-primary">Read More</button>
                      </div>
                  </div>
              </div>
                    </div>
                </div>

    
  <%-include('./common/footer.ejs')%>
</body>
</html>