<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <%-include('./common/header.ejs')%>
   <div class="container-fluid mt-5">
    <div class="row">
      <h1 class="text-decoration-underline">Treatments</h1>
      <div class="col-md-12 col-lg-6 mt-3 ">
            <img src="./images/hush-naidoo-jade-photography-yo01Z-9HQAw-unsplash.jpg" height="auto" width="100%" >
      </div>
      <div class="col-6">
      <div class="col-lg-6 ps-5 fs-5 mt-4">
        <a href="#" class="text-decoration-none">Cancer Care/Oncology</a>
      </div>
      <div class="col-lg-6 ps-5 fs-5 mt-4">
            <a href="#" class="text-decoration-none">Cardiac Sciences</a>
      </div>
      <div class="col-lg-6 ps-5 fs-5 mt-4">
            <a href="#" class="text-decoration-none">Orthopaedics</a>
      </div>
      <div class="col-lg-6 ps-5 fs-5 mt-4">
            <a href="#" class="text-decoration-none">Robotic Surgery</a>
      </div>
      <div class="col-lg-6 ps-5 fs-5 mt-4">
            <a href="#" class="text-decoration-none">Liver Transplant</a>
      </div>
      <div class="col-lg-6 ps-5 fs-5 mt-4 ">
            <a href="#" class="text-decoration-none">Neurosciences</a>
      </div>
      </div>

    </div>
    </div> 
  <%-include('./common/footer.ejs')%>
</body>
</html>